<%- include('header'); -%>
  <div class="parallax">
    <div class = "container">
      <h1 class="blog-title playfair"><%= blogTitle%></h1>
    </div>
  </div>
  <div class="container pt-2">

    <pre class="blog-content"><%=blog%></pre>
  </div>
  <div class = "container buttons pb-5">
    <form action="/edit" method = "post">
      <button class="btn btn-dark" type="submit" name = "editId" value = "<%=blogId%>">Edit</button>
    </form>
    <form action="/delete" method = "post">
      <button class="btn btn-danger" type="submit" name = "deleteId" value = "<%=blogId%>">Delete</button>
    </form>
  </div>

  <%- include('footer'); -%>