<%- include('header'); -%>
<div class="container py-5">
  <form class="" action="/update" method="post">
    <div class="mb-3">
      <label for="title" class="form-label fw-bold">Title</label>
      <input type="text" class="form-control" name = "title" value = "<%=blogTitle%>">
    </div>
    <div class="mb-3">
      <label for="content" class="form-label fw-bold">Content</label>
      <textarea name = "content" id="mytextarea"><%=blogContent%></textarea>
      <script >
       tinymce.init({
         selector: 'textarea',
         plugins: '',
         toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough',
       });

      function getContent() { 
        var content = tinymce.get('mytextarea').getContent();
      }
      </script>
    </div>
    <button type="submit" name="button" class="btn btn-dark" value = <%=blogId%>>Update</button>
  </form>
</div>

<%- include('footer'); -%>